body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fab164;
  min-height: 100vh;
  height: 1px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary {
  display: flex;
  align-items: center;
  background: transparent;
  height: 60px;
  width: 200px;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
  font-weight: bold;
  border: 4px solid #fff;
  border-radius: 30px !important;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: color 1s ease, box-shadow .5s ease, transform .5s ease;
}

.btn-primary:hover{
    box-shadow: inset 0px -60px 0 0px #fff;
    color: #000;
}

.btn-primary:disabled{
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed
}

iframe {
  display: none;
}
